[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "aliyun"

[dev-packages]
autoflake = "*"
{% if cookiecutter.python_version[0] == '3' %}black = "*"  # Only Python3{% endif %}
isort = "*"
{% if cookiecutter.python_version[0] == '2' %}mypy = "==0.256"{% else %}mypy = "*"{% endif %}
invoke = "*"
bumpversion = "*"
pytest = "*"
pytest-cov = "*"
pytest-benchmark = "*"
mock = "*"
twine = "*"
coverage = "*"
coveralls = "*"
{% if cookiecutter.use_pylint.lower() in ('y', 'yes') %}{% if cookiecutter.python_version[0] == '2' %}pylint = "==1.9.3"{% else %}pylint = "*"{% endif %}{% else %}flake8 = "*"{% endif %}
pre-commit = "*"

[packages]

[requires]
python_version = "{{ cookiecutter.python_version }}"
