[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "aliyun"

[dev-packages]
autoflake = "*"
# black = "*"  # Only Python3
isort = "*"
mypy = "==0.256"
invoke = "*"
bumpversion = "*"
pytest = "*"
pytest-cov = "*"
pytest-benchmark = "*"
mock = "*"
twine = "*"
coverage = "*"
coveralls = "*"
pylint = "==1.9.3"

[packages]

[requires]
